/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}







#header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#header .logo {
    width: 331px;
    height: 57px;
    display: inline-block;
    padding: 10px 5px;
    position: relative;
    z-index: 1;
    float: left;

}

#header .right {
    float: right;
    margin-right: 30px;
    padding-top: 23px;
    /* display: block;
    position: absolute;
    z-index: 6; */

}

#menu {
    padding: 8px 0 0 0;
    margin: 0;
    float: left;
}

#menu li {
    float: left;
    margin-right: 20px;
    list-style: none;
    position: relative;
    z-index: 3;
    padding-bottom: 30px;
}

#menu li a {
    display: block;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
}